In [16]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [9]:
dir = r"C:\Users\ivang\Desktop\data\intr-ciencia-datos\produccion_textil_CRISP-DM\data\tidy_data.csv"
data = pd.read_csv(dir)
data.dtypes

DATES                  object
DEPARTMENT             object
TEAM                    int64
SMV                   float64
WIP                     int64
OVER_TIME               int64
INCENTIVE               int64
IDLE_TIME               int64
IDLE_MEN                int64
NO_OF_STYLE_CHANGE      int64
NO_OF_WORKERS         float64
RATIO                 float64
dtype: object

In [11]:
data["DATES"] = pd.to_datetime(data["DATES"], format="%d/%m/%Y")
data.dtypes

DATES                 datetime64[ns]
DEPARTMENT                    object
TEAM                           int64
SMV                          float64
WIP                            int64
OVER_TIME                      int64
INCENTIVE                      int64
IDLE_TIME                      int64
IDLE_MEN                       int64
NO_OF_STYLE_CHANGE             int64
NO_OF_WORKERS                float64
RATIO                        float64
dtype: object

In [14]:
data_onehot = data.copy(deep=True)
data_onehot = pd.get_dummies(data_onehot, columns=['DEPARTMENT'], prefix = ['DEP'])
data_onehot = data_onehot.drop(columns= "DEP_finishing")
data_onehot = data_onehot["DATES TEAM DEP_sweing SMV WIP OVER_TIME INCENTIVE IDLE_TIME\
    IDLE_MEN NO_OF_STYLE_CHANGE NO_OF_WORKERS RATIO".split()]
data_onehot.head()

,DATES,TEAM,DEP_sweing,SMV,WIP,OVER_TIME,INCENTIVE,IDLE_TIME,IDLE_MEN,NO_OF_STYLE_CHANGE,NO_OF_WORKERS,RATIO
0,2015-01-01,8,1,26.16,1108,7080,98,0,0,0,59.0,1.1759
1,2015-01-01,1,0,3.94,0,960,0,0,0,0,8.0,1.1820
2,2015-01-01,11,1,11.41,968,3660,50,0,0,0,30.5,1.0007
3,2015-01-01,12,1,11.41,968,3660,50,0,0,0,30.5,1.0007
4,2015-01-01,6,1,25.90,1170,1920,50,0,0,0,56.0,1.0005

In [28]:
data_scaled = data_onehot.copy(deep=True)
for column in list(data_scaled):
    if column != "DATES" and column != "DEP_sweing":
        data_scaled[column] = preprocessing.StandardScaler(data_scaled[column])

TypeError: __init__() takes 1 positional argument but 2 were given