In [103]:
import pandas as pd
import numpy as np

Cargamos nuestro dataset preprocesado

In [104]:
dir = r"D:\Fernando\Escritorio\CRISP-DM\produccion_textil_CRISP-DM\data\dataset_preprocessed.csv"
data = pd.read_csv(dir)
data.columns

Index(['FECHA', 'DEPARTMENT', 'TEAM', 'TARGETED_PRODUCTIVITY', 'SMV', 'WIP',
       'OVER_TIME', 'INCENTIVE', 'IDLE_TIME', 'IDLE_MEN', 'NO_OF_STYLE_CHANGE',
       'NO_OF_WORKERS', 'ACTUAL_PRODUCTIVITY'],
      dtype='object')

De nuestro an√°lisis previo hemos decidido quitar las columnas "DATE" y "QUARTER"

In [105]:
data1 = data.drop(columns=['FECHA'])
print(data1)

     DEPARTMENT  TEAM  TARGETED_PRODUCTIVITY    SMV   WIP  OVER_TIME  \
0     finishing     1                   0.75   3.94     0        960
1        sweing     1                   0.75  28.08   681       6900
2     finishing     2                   0.75   3.94     0        960
3        sweing     2                   0.75  19.87   733       6000
4        sweing     3                   0.75  28.08   795       6900
...         ...   ...                    ...    ...   ...        ...
1192     sweing    10                   0.75  21.82  1674       6000
1193  finishing    11                   0.80   2.90     0       2400
1194     sweing    11                   0.80  11.41   560       3420
1195  finishing    12                   0.80   4.60     0       2160
1196     sweing    12                   0.80  15.26   470       4080

      INCENTIVE  IDLE_TIME  IDLE_MEN  NO_OF_STYLE_CHANGE  NO_OF_WORKERS  \
0             0          0         0                   0            8.0
1            45          0         0                   0           57.5
2             0          0         0                   0            8.0
3            34          0         0                   0           55.0
4            45          0         0                   0           57.5
...         ...        ...       ...                 ...            ...
1192         34          0         0                   0           50.0
1193          0          0         0                   0           10.0
1194         50          0         0                   0           58.0
1195          0          0         0                   0            9.0
1196         63          0         0                   0           34.0

      ACTUAL_PRODUCTIVITY
0                0.886500
1                0.750428
2                0.755167
3                0.753098
4                0.753683
...                   ...
1192             0.750608
1193             0.874028
1194             0.800035
1195             0.922840
1196             0.800402

[1197 rows x 12 columns]

Rellenamos los valores nulos

In [106]:
data2 = data1.fillna({
        'WIP': 0,
        })

In [107]:
data2.isnull().sum()

DEPARTMENT               0
TEAM                     0
TARGETED_PRODUCTIVITY    0
SMV                      0
WIP                      0
OVER_TIME                0
INCENTIVE                0
IDLE_TIME                0
IDLE_MEN                 0
NO_OF_STYLE_CHANGE       0
NO_OF_WORKERS            0
ACTUAL_PRODUCTIVITY      0
dtype: int64

Removemos nuestros outliers para la columna "TARGETED_PRODUCTIVITY"

In [108]:
Q1 = data2.TARGETED_PRODUCTIVITY.quantile(0.25)
Q3 = data2.TARGETED_PRODUCTIVITY.quantile(0.75)
Q1, Q3

(0.7, 0.8)

In [109]:
IQR = Q3 - Q1
round(IQR, 4)

0.1

In [110]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
round(lower_limit, 4), round(upper_limit, 4)

(0.55, 0.95)

In [111]:
data2[(data2.TARGETED_PRODUCTIVITY<lower_limit)|(data2.TARGETED_PRODUCTIVITY>upper_limit)]

,DEPARTMENT,TEAM,TARGETED_PRODUCTIVITY,SMV,WIP,OVER_TIME,INCENTIVE,IDLE_TIME,IDLE_MEN,NO_OF_STYLE_CHANGE,NO_OF_WORKERS,ACTUAL_PRODUCTIVITY
146,sweing,11,0.35,12.52,287,25920,38,0,0,0,54.0,0.349951
156,finishing,5,0.50,4.15,0,1440,0,0,0,0,8.0,0.337973
157,sweing,5,0.50,20.79,966,7680,0,0,0,0,56.0,0.388008
168,sweing,11,0.50,12.52,749,9540,38,0,0,0,53.0,0.673245
178,finishing,5,0.50,4.15,0,1440,0,0,0,0,8.0,0.609138
...,...,...,...,...,...,...,...,...,...,...,...,...
1097,sweing,6,0.50,23.41,1379,2280,0,0,0,1,39.0,0.500528
1114,finishing,5,0.50,3.94,0,960,0,0,0,0,8.0,0.857917
1115,sweing,5,0.50,26.82,711,7080,23,0,0,1,59.0,0.500034
1139,sweing,7,0.50,30.48,1161,6600,0,0,0,1,55.0,0.500611
1161,finishing,7,0.50,3.90,0,960,0,0,0,0,8.0,0.560625

In [112]:
data3 = data2[(data2.TARGETED_PRODUCTIVITY>lower_limit)&(data2.TARGETED_PRODUCTIVITY<upper_limit)]
data3.shape

(1118, 12)

Removemos nuestros outliers para la columna "WIP"

In [113]:
Q1 = data3.WIP.quantile(0.25)
Q3 = data3.WIP.quantile(0.75)
Q1, Q3

(0.0, 1083.0)

In [114]:
IQR = Q3 - Q1
round(IQR, 4)

1083.0

In [115]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
round(lower_limit, 4), round(upper_limit, 4)

(-1624.5, 2707.5)

In [116]:
data3[(data3.WIP<lower_limit)|(data3.WIP>upper_limit)]

,DEPARTMENT,TEAM,TARGETED_PRODUCTIVITY,SMV,WIP,OVER_TIME,INCENTIVE,IDLE_TIME,IDLE_MEN,NO_OF_STYLE_CHANGE,NO_OF_WORKERS,ACTUAL_PRODUCTIVITY
562,sweing,1,0.80,22.94,16882,7020,113,0,0,0,58.5,1.000602
563,sweing,2,0.80,22.52,21385,7020,88,0,0,0,58.5,0.900158
564,sweing,3,0.80,22.52,21266,6840,70,0,0,0,57.0,0.900142
566,sweing,4,0.80,22.52,23122,5940,50,0,0,0,56.5,0.800393
569,sweing,6,0.70,18.79,2984,3960,30,0,0,0,33.0,0.700355
574,sweing,9,0.75,29.12,8992,6960,55,0,0,0,58.0,0.799963
576,sweing,10,0.80,22.52,21540,6720,88,0,0,0,56.0,0.900130
577,sweing,11,0.70,20.55,9792,6480,60,0,0,0,54.0,0.700398
579,sweing,12,0.80,15.26,12261,3600,63,0,0,0,35.0,0.800402

In [117]:
data4 = data3[(data3.WIP>lower_limit)&(data3.WIP<upper_limit)]
data4.shape

(1109, 12)

Removemos nuestros outliers para la columna "OVER_TIME"

In [118]:
Q1 = data4.OVER_TIME.quantile(0.25)
Q3 = data4.OVER_TIME.quantile(0.75)
Q1, Q3

(1440.0, 6900.0)

In [119]:
IQR = Q3 - Q1
round(IQR, 4)

5460.0

In [120]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
round(lower_limit, 4), round(upper_limit, 4)

(-6750.0, 15090.0)

In [121]:
data4[(data4.OVER_TIME<lower_limit)|(data4.OVER_TIME>upper_limit)]

,DEPARTMENT,TEAM,TARGETED_PRODUCTIVITY,SMV,WIP,OVER_TIME,INCENTIVE,IDLE_TIME,IDLE_MEN,NO_OF_STYLE_CHANGE,NO_OF_WORKERS,ACTUAL_PRODUCTIVITY
147,sweing,12,0.8,11.61,548,15120,63,0,0,0,31.5,0.800107

In [122]:
data5 = data4[(data4.OVER_TIME>lower_limit)&(data4.OVER_TIME<upper_limit)]
data5.shape

(1108, 12)

Removemos nuestros outliers para la columna "INCENTIVE"

In [126]:
Q1 = data5.INCENTIVE.quantile(0.25)
Q3 = data5.INCENTIVE.quantile(0.75)
Q1, Q3

(0.0, 50.0)

In [127]:
IQR = Q3 - Q1
round(IQR, 4)

50.0

In [128]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
round(lower_limit, 4), round(upper_limit, 4)

(-75.0, 125.0)

In [129]:
data5[(data5.INCENTIVE<lower_limit)|(data5.INCENTIVE>upper_limit)]

,DEPARTMENT,TEAM,TARGETED_PRODUCTIVITY,SMV,WIP,OVER_TIME,INCENTIVE,IDLE_TIME,IDLE_MEN,NO_OF_STYLE_CHANGE,NO_OF_WORKERS,ACTUAL_PRODUCTIVITY
731,sweing,1,0.80,22.52,1397,0,138,0,0,0,57.0,1.100484
1128,finishing,1,0.75,3.94,0,0,960,0,0,0,8.0,0.794567
1130,finishing,2,0.70,3.90,0,0,1200,0,0,0,10.0,0.682500
1132,finishing,3,0.80,4.60,0,0,1440,0,0,0,12.0,0.795417
1134,finishing,4,0.75,3.94,0,0,960,0,0,0,8.0,0.795388
1136,finishing,5,0.60,3.94,0,0,2880,0,0,0,12.0,0.864343
1140,finishing,8,0.65,3.90,0,0,960,0,0,0,8.0,0.264062
1142,finishing,9,0.75,2.90,0,0,3600,0,0,0,15.0,0.841000
1144,finishing,10,0.70,2.90,0,0,960,0,0,0,8.0,0.477292
1146,finishing,11,0.80,2.90,0,0,960,0,0,0,8.0,0.960625
1148,finishing,12,0.80,4.60,0,0,1080,0,0,0,9.0,0.902963

In [130]:
data6 = data5[(data5.INCENTIVE>lower_limit)&(data5.INCENTIVE<upper_limit)]
data6.shape

(1097, 12)

In [132]:
data6.to_csv('Tidy_data.csv', index=False)